//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 26 14:04:31 2017
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

