
# PlanAhead Generated physical constraints 

NET "clk" LOC = U9;
NET "dout[0]" LOC = J14;
NET "dout[1]" LOC = J15;
NET "dout[2]" LOC = K15;
NET "dout[3]" LOC = K14;
NET "dout[4]" LOC = E16;
NET "dout[5]" LOC = P16;
NET "dout[6]" LOC = E4;
NET "dout[7]" LOC = P4;
NET "en" LOC = G18;
NET "reset" LOC = B18;
